@import "../../scss/variables";

.button {
  font-size: 1.5rem;
  background-color: $bright-red;
  box-shadow: 0 0.8rem 0.8rem rgba($bright-red, 0.5);
  padding: 1.4rem 2.2rem;
  border: none;
  color: $very-light-gray;
  border-radius: 100px;
}
