@import "../../scss/variables";
@import "../../scss/mixins";

.cta {
  background-color: $bright-red;
  overflow: hidden;
  position: relative;
  z-index: 5;

  &__box {
    @include widthCenter(33rem);

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 6.4rem 2rem;
  }

  &__title {
    font-weight: 500;
    color: $very-light-gray;
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }

  &__button {
    background-color: $very-light-gray;
    color: $bright-red;
  }

  &__button:hover {
    background-color: darken($very-light-gray, 5%);
  }

  &__container_one,
  &__container_two {
    position: relative;
  }

  &__img_background {
    height: 40rem;
    width: 40rem;
    opacity: 0.15;
    position: absolute;
    z-index: -10;

    &__one {
      top: -100%;
      left: 8%;
    }

    &__two {
      display: none;
    }
  }

  @include tablet() {
    &__box {
      text-align: left;
      max-width: 70rem;
      grid-template-columns: 2fr 1fr;
    }

    &__title {
      width: 70%;
    }

    &__container_two {
      justify-self: end;
    }

    &__img_background {
      &__two {
        display: none;
      }
    }
  }

  @include desktop() {
    &__box {
      max-width: 120rem;
      justify-items: start;
    }

    &__title {
      font-size: 3.6rem;
      width: 70%;
      padding: 0;
      margin: 0;
    }

    &__img_background {
      &__two {
        display: block;
        top: -800%;
        right: -300%;
      }
    }
  }
}
