@import "../../scss/variables";

.cta {
  background-color: $bright-red;

  .cta__box {
    max-width: 330px;
    margin: 0 auto;

    text-align: center;
    padding: 6.4rem 2rem;
  }

  &__title {
    font-weight: 500;
    color: $very-light-gray;
    padding: 0 5rem;
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }

  button {
    background-color: $very-light-gray;
    color: $bright-red;
  }
}
