.hero {
  max-width: 37.5rem;
  margin: 0 auto;
  box-sizing: content-box;
  height: 80vh;
  padding: 0 2rem;
  padding-bottom: 20vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1.4rem;
}
.hero__content {
  text-align: center;
  padding: 0 3rem;
  order: 2;
}
.hero__title {
  font-size: 3rem;
  margin-bottom: 1.6rem;
}
.hero__description {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
}
.hero__img_container {
  order: 1;
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.hero__img {
  width: 100%;
}
.hero__img_background {
  z-index: -10;
  position: absolute;
  top: -85%;
  right: -65%;
  width: 55rem;
  height: 55rem;
}
@media only screen and (min-width: 43.75em) {
  .hero {
    max-width: 40rem;
    gap: 2rem;
    padding-bottom: 0;
  }
  .hero__content {
    align-self: start;
    padding: 0;
  }
  .hero__description {
    font-size: 1.6rem;
  }
  .hero__img {
    height: 34rem;
    max-width: 37.5rem;
  }
  .hero__img_background {
    height: 60rem;
    top: -90%;
    right: -70%;
    width: 60rem;
    height: 60rem;
  }
}
@media only screen and (min-width: 75em) {
  .hero {
    max-width: 116rem;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20vh;
  }
  .hero__content {
    order: 1;
    align-self: center;
    text-align: left;
  }
  .hero__title {
    font-size: 5.6rem;
    width: 90%;
  }
  .hero__description {
    color: hsl(227deg, 12%, 61%);
    width: 60%;
  }
  .hero__img_container {
    order: 2;
    justify-self: end;
    width: auto;
    margin: 0;
  }
  .hero__img {
    height: 50rem;
    max-width: 53rem;
  }
  .hero__img_background {
    top: -120%;
    right: -100%;
    width: 96rem;
    height: 96rem;
  }
}