.footer {
  background-color: hsl(233deg, 12%, 13%);
}
.footer__box {
  max-width: 375px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 4rem;
  justify-items: center;
  padding: 4rem 2rem;
}
.footer__form {
  display: grid;
  align-items: center;
  grid-template-columns: 22rem 1fr;
  gap: 1rem;
}
.footer__form input {
  padding: 1rem 1.4rem;
  border-radius: 100px;
  border: none;
}
.footer__form input:focus {
  outline: none;
}
.footer__form button {
  padding: 1rem 2rem;
  box-shadow: none;
}
.footer__list_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  font-size: 1.4rem;
}
.footer__icons_container {
  width: 100%;
}
.footer__link_list, .footer__link_icon {
  list-style: none;
}
.footer__link_list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.footer__link_icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 3.2rem;
  line-height: 1;
}
.footer__link_list a, .footer__link_icon a {
  color: hsl(0deg, 0%, 98%);
}
.footer__logo {
  align-self: end;
  filter: invert(98%) sepia(3%) saturate(10%) hue-rotate(356deg) brightness(110%) contrast(96%);
  height: 24px;
}
.footer__copyright {
  font-size: 1.3rem;
  color: hsl(227deg, 12%, 61%);
}
@media (max-width: 350px) {
  .footer__form_container {
    justify-self: stretch;
  }
  .footer__form {
    grid-template-columns: 1fr;
  }
  .footer__list_container {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }
  .footer__link_list {
    gap: 1.6rem;
    align-items: center;
  }
}
@media (min-width: 700px) {
  .footer__box {
    max-width: 70rem;
    grid-template-columns: 1fr 2fr;
  }
  .footer__list_container {
    font-size: 1.5rem;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .footer__icons_container {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .footer__link_icon {
    justify-content: start;
    gap: 3rem;
  }
  .footer__copyright {
    grid-column: 1/-1;
  }
}
@media (min-width: 1200px) {
  .footer__box {
    max-width: 120rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer__form_container {
    grid-column: 3/-1;
  }
  .footer__list_container {
    grid-row: 1/3;
  }
  .footer__logo {
    justify-self: start;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .footer__icons_container {
    justify-self: start;
  }
  .footer__copyright {
    grid-column: 3/-1;
  }
}