// Primary
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

// Neutral
$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);

$very-light-gray: hsl(0, 0%, 98%);
$svg-very-light-gray: invert(98%) sepia(3%) saturate(10%) hue-rotate(356deg)
  brightness(110%) contrast(96%);

// Responsiveness
$desktop-wide: 75em; // min-width
$s-desktop-wide: 62.5em; // max-width
$tablet-wide: 43.75em; // min-width
$mobile-wide: 23.4em; // min-width
$s-mobile-wide: 21.8em; // max-width
