@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: $very-light-gray;
  color: $very-dark-blue;
}

#main-content {
  position: relative;
}

.active-nav {
  overflow-y: hidden !important;
}
