@import "../../scss/variables";
@import "../../scss/mixins";

.testimonials {
  @include widthCenter(37.5rem);

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 5.4rem;
  padding: 12rem 2rem 5rem;

  &__img {
    width: 7.5rem;
    height: 7.5rem;
  }

  &__title {
    font-size: 2.6rem;
  }

  &__content {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.6rem;
  }

  &__name {
    color: inherit;
    font-size: 1.7rem;
  }

  &__description {
    color: $dark-grayish-blue;
    font-size: 1.5rem;
    line-height: 1.7;
  }

  @include tablet() {
    max-width: 75rem;
  }

  @include desktop() {
    max-width: 110rem;
  }
}
