.testimonials {
  max-width: 37.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 5.4rem;
  padding: 12rem 2rem 5rem;
}
.testimonials__img {
  width: 7.5rem;
  height: 7.5rem;
}
.testimonials__title {
  font-size: 2.6rem;
}
.testimonials__content {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.6rem;
}
.testimonials__name {
  color: inherit;
  font-size: 1.7rem;
}
.testimonials__description {
  color: hsl(227deg, 12%, 61%);
  font-size: 1.5rem;
  line-height: 1.7;
}
@media only screen and (min-width: 43.75em) {
  .testimonials {
    max-width: 75rem;
  }
}
@media only screen and (min-width: 75em) {
  .testimonials {
    max-width: 110rem;
  }
}