.steps {
  max-width: 375px;
  margin: 0 auto;
  padding: 8rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.4rem;
}
.steps__content {
  text-align: center;
  padding: 0 3rem;
}
.steps__title {
  font-size: 2.6rem;
  margin-bottom: 2.4rem;
}
.steps__description {
  font-size: 1.5rem;
}
.steps__procedure_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.steps__list_title {
  background-color: hsl(13deg, 100%, 96%);
  font-size: 1.7rem;
  display: flex;
  gap: 1.8rem;
  align-items: center;
  border-radius: 100px;
  line-height: 1;
  margin-bottom: 1.6rem;
}
.steps__number {
  background-color: hsl(12deg, 88%, 59%);
  color: hsl(0deg, 0%, 98%);
  padding: 1.2rem 2rem;
  border-radius: 100px;
}
.steps__list_description {
  color: hsl(227deg, 12%, 61%);
  line-height: 1.6;
  font-size: 1.5rem;
}