@import "../../scss/variables";
@import "../../scss/mixins";

.steps {
  @include widthCenter(37.5rem);

  position: relative;
  padding: 0 2rem 8rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.4rem;
  &__content {
    text-align: center;
    padding: 0 3rem;
  }

  &__title {
    font-size: 2.6rem;
    margin-bottom: 2.4rem;
  }

  &__description {
    color: $dark-grayish-blue;
    font-size: 1.5rem;
  }

  &__procedure_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &__procedure_title {
    position: relative;
    margin-bottom: 2rem;
  }

  &__list_title {
    background-color: $very-pale-red;
    border-radius: 100px;
    line-height: 1;
    font-size: 1.7rem;
    padding-right: 1.6rem;
    display: flex;
    gap: 1.6rem;
    align-items: center;
  }

  &__number {
    padding: 1.2rem 2.2rem;
    font-weight: bold;
    display: inline-block;
    background-color: $bright-red;
    color: $very-light-gray;
    border-radius: 100px;
  }

  &__heading_title {
    display: inline-block;
    padding: 1.2rem 0;
  }

  &__list_description {
    color: $dark-grayish-blue;
    line-height: 1.6;
    font-size: 1.5rem;
  }

  &__img_background {
    z-index: -10;
    position: absolute;
    height: 34rem;
    top: -40%;
    right: -49%;
  }

  @include tablet() {
    max-width: 65rem;
    gap: 6rem;

    &__description {
      font-size: 1.6rem;
      padding: 0 6rem;
    }

    &__list_description {
      font-size: 1.6rem;
    }

    &__procedure_list {
      display: grid;
      grid-template-columns: 1fr;

      li {
        max-width: 37.5rem;
      }

      li:nth-child(even) {
        justify-self: end;
      }
    }

    &__img_background {
      top: -24%;
      right: -32%;
    }
  }

  @include desktop() {
    max-width: 120rem;
    grid-template-columns: 1fr 1fr;

    &__content {
      text-align: left;
      padding: 0;
    }

    &__title {
      font-size: 4rem;
    }

    &__description {
      width: 60%;
      padding: 0;
    }

    &__procedures {
      justify-self: end;
      width: 80%;
    }

    &__list_title {
      background-color: transparent;
    }

    &__number {
      font-size: 1.7rem;
      position: absolute;
      left: -20%;
    }

    &__procedure_list {
      li {
        max-width: 47.5rem;
      }

      li:nth-child(even) {
        justify-self: auto;
      }
    }

    &__img_background {
      height: 80rem;
      top: 40%;
      left: -60%;
    }
  }
}
